
  .forminDiv{
      height: 100%;
      width: 100%;
  }

  
  input {
    border: 1px #f5ba13 solid;
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: grey;
    font-weight: 300;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    outline: none;
  }
   
 .forma button {
    appearance: none;
    outline: 0;
    background: linear-gradient(135deg, darkorange, #f5ba13);
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 280px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 1.5rem;
    font-weight: bold;
  }
 
.forma button:hover{
    background: linear-gradient(135deg, #f5ba13, darkorange);
}

.forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.forma label {
    color: grey;
}