.container {
    display: grid;
    grid-template-columns: repeat(3, 23rem);
    grid-template-rows: 10rem  10rem 10rem;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
}

.h1title{
    color: gray;
}

.bigContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total{
    font-weight: bold;
    color: #f5ba13;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #f5ba13;
    margin-left: 2rem;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1120px) {
    
        .container {
            grid-template-columns: repeat(2, 20rem);
            grid-template-rows: 10rem  10rem 10rem;
        }
   
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 620px) {
    .container {
        grid-template-columns: repeat(1, 23rem);
        grid-template-rows: 10rem  10rem 10rem;
    }

    .total{
       margin: auto;
       margin-top: 2rem;
    }
  }