.navBar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg, darkorange, #f5ba13);
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    margin-right: 3rem;
}

.navBar ul li {
    list-style-type: none;
    margin: 1rem 3rem;
    font-weight: bold;
}

.link{ 
    text-decoration: none;
    color: white;
}

.link:hover{
    color: yellow;
}

nav img {
    width: 60px;
    height: 80px;
    margin-left: 5rem;
}

  /* On screens that are 620px or less, set the background color to olive */
  @media screen and (max-width: 620px) {
    .navBar ul{
        flex-direction: column;
    }

    .navBar ul li {
        margin: 0;
    }
  }