.operationCard{
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
}
      
      /* On mouse-over, add a deeper shadow */
.operationCard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn-delete{
    border-radius: 50%;
    border: 1px solid #f5ba13;
    background-color: white;
    padding: 2px 5px;
    margin: 1rem 1rem 0 0;
    float: right;
    color: #f5ba13;
    font-weight: bold;
}

.btn-delete:hover{
    background-color: #f5ba13;
    color: white;
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0em;
}

.data p{
    font-family:Arial, Helvetica, sans-serif;
    color: grey;
}

