/* I am hiding label */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.searchforma{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}


.btnSearch {
    appearance: none;
    outline: 0;
    background: linear-gradient(135deg, darkorange, #f5ba13);
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 200px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:0 0 0.5rem 1rem;
    font-weight: bold;
}

.btnSearch:hover{
    background: linear-gradient(135deg, #f5ba13, darkorange);
}

  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 620px) {
    .searchforma{
        flex-direction: column;
    }

    .btnSearch{
        margin: 0;
    }
  }